1. Прочитайте представленный датасет(https://drive.google.com/drive/folders/1phOzEdwpLqxskFjRJSD-ZLRLk5Gh7DCz)(Подсказка: датасет надо сначала сохранить, а потом прочитать с помощию функции  read_csv)

Набор данных состоит из 2000 записей и 8 столбцов
- Индекс пользователя
- Пол
- Возраст
- Годовой доход
- Оценка расходов — оценка, присваиваемая магазином на основе поведения покупателей и характера расходов.
- Профессия
- Опыт работы 
- Размер семьи

2. Найдите людей, у которых возраст больше 30 и доход меньше 30000, 

найдите людей, которые по профессии юристы и с опытом работы больше 5 лет
<hr>

In [19]:
import pandas as pd

In [20]:
#читаем файл
df = pd.read_csv("Customers.csv", sep=";")

#тестовый вывод таблицы
df

,CustomerID,Gender,Age,Income,Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6
...,...,...,...,...,...,...,...,...
1995,1996,Female,71,184387,40,Artist,8,7
1996,1997,Female,91,73158,32,Doctor,7,7
1997,1998,Male,87,90961,14,Healthcare,9,2
1998,1999,Male,77,182109,4,Executive,7,2
1999,2000,Male,90,110610,52,Entertainment,5,2

In [21]:
#находим людей, старше 30, чей доход меньше 30 000 рублей
df[(df["Age"] > 30) & (df['Income'] < 30000)]

,CustomerID,Gender,Age,Income,Spending Score (1-100),Profession,Work Experience,Family Size
10,11,Male,67,7000,14,Engineer,1,3
14,15,Male,37,19000,13,Doctor,0,1
16,17,Female,35,29000,35,Homemaker,9,5
18,19,Male,52,20000,29,Entertainment,1,4
28,29,Female,40,18000,31,Artist,0,1
36,37,Female,42,14000,17,Doctor,5,1
38,39,Female,36,9000,26,Artist,8,2
40,41,Female,65,25000,35,Artist,4,1
42,43,Male,48,22000,36,Artist,14,3
49,50,Female,31,25000,42,Engineer,1,1
54,55,Female,50,18000,45,Marketing,1,1
57,58,Male,69,8000,46,Doctor,8,2
66,67,Female,43,3000,50,Doctor,0,2
71,72,Female,47,9000,42,Entertainment,8,2
73,74,Female,60,10000,56,Healthcare,8,4
86,87,Female,55,11000,58,Artist,0,3
94,95,Female,32,24000,42,Artist,0,1
96,97,Female,47,2000,47,Artist,0,1
101,102,Female,49,4000,48,Executive,1,7
108,109,Male,68,13000,43,Healthcare,6,5
109,110,Male,66,13000,48,Healthcare,9,3
116,117,Female,63,9000,43,Lawyer,1,1
123,124,Male,39,6000,91,Healthcare,1,3
127,128,Male,40,4000,95,Artist,0,2
131,132,Male,39,26000,75,Lawyer,0,2
139,140,Female,35,15000,72,Artist,4,4
152,153,Female,44,17000,20,Engineer,0,2
156,157,Male,37,16000,1,Executive,1,1
160,161,Female,56,9000,35,Artist,1,1
169,170,Male,32,0,63,Artist,2,2
174,175,Female,52,20000,13,Lawyer,0,2
176,177,Male,58,29000,15,Engineer,11,1
182,183,Male,46,11000,15,Artist,7,1
186,187,Female,54,14000,24,Lawyer,1,2
194,195,Female,47,8000,16,Artist,7,2
197,198,Male,32,4000,74,Artist,1,5
205,206,Female,63,10000,52,Healthcare,8,3
208,209,Female,48,15000,7,Doctor,0,2
212,213,Male,86,12000,70,Marketing,2,4
216,217,Male,79,20000,40,Doctor,6,2
225,226,Female,78,23000,8,Engineer,1,1
231,232,Male,84,7000,28,Healthcare,0,4
232,233,Female,67,18000,88,Lawyer,0,2
233,234,Female,78,3000,14,Healthcare,0,4
236,237,Male,91,9000,96,Healthcare,1,5
244,245,Female,53,4000,20,Artist,0,4
247,248,Female,32,7000,16,Artist,1,2
250,251,Male,80,20000,93,Engineer,1,3
252,253,Female,78,3000,14,Artist,5,4
254,255,Female,46,27000,32,Engineer,4,4
263,264,Female,64,13000,38,Engineer,3,4
266,267,Female,40,28000,68,Artist,1,1
268,269,Female,34,8000,76,Entertainment,6,6
272,273,Female,96,1000,76,Entertainment,0,3
274,275,Female,37,18000,57,Artist,1,2
289,290,Female,93,19000,58,Engineer,1,3

In [22]:
#люди, которые по профессии юристы и с опытом работы больше 5 лет
df[(df["Profession"] == "Lawyer") & (df["Work Experience"] > 5)]

,CustomerID,Gender,Age,Income,Spending Score (1-100),Profession,Work Experience,Family Size
64,65,Male,63,63000,51,Lawyer,7,2
213,214,Male,49,50000,82,Lawyer,8,1
230,231,Female,6,93000,53,Lawyer,8,2
253,254,Female,86,72000,13,Lawyer,7,3
315,316,Male,72,93921,93,Lawyer,9,2
321,322,Male,5,69078,60,Lawyer,13,1
352,353,Female,51,72303,98,Lawyer,7,1
358,359,Female,72,67353,19,Lawyer,9,3
395,396,Male,78,184736,52,Lawyer,13,1
453,454,Female,48,123234,50,Lawyer,10,7
475,476,Female,28,79968,45,Lawyer,9,2
561,562,Female,17,169496,12,Lawyer,11,6
587,588,Female,53,86766,2,Lawyer,16,3
603,604,Female,91,69720,78,Lawyer,17,6
647,648,Female,77,160351,77,Lawyer,8,5
693,694,Female,80,171323,78,Lawyer,10,4
852,853,Female,0,121926,41,Lawyer,7,1
897,898,Male,18,62362,81,Lawyer,7,3
898,899,Male,73,74350,39,Lawyer,10,1
900,901,Male,1,75518,17,Lawyer,7,3
943,944,Female,29,80098,54,Lawyer,10,6
961,962,Male,91,189357,4,Lawyer,7,1
1143,1144,Female,86,145679,91,Lawyer,9,6
1324,1325,Female,95,159010,84,Lawyer,6,2
1371,1372,Male,2,111618,99,Lawyer,6,5
1374,1375,Female,11,147258,59,Lawyer,10,2
1386,1387,Female,82,62951,47,Lawyer,8,2
1430,1431,Female,54,119223,58,Lawyer,10,7
1443,1444,Female,31,161211,10,Lawyer,9,1
1477,1478,Male,85,85758,35,Lawyer,10,4
1523,1524,Male,28,157383,13,Lawyer,8,2
1761,1762,Female,32,181703,54,Lawyer,6,2
1772,1773,Female,54,184815,50,Lawyer,6,3
1778,1779,Female,63,77259,11,Lawyer,6,6
1784,1785,Female,1,89473,85,Lawyer,10,4
1792,1793,Male,14,124785,28,Lawyer,7,2
1801,1802,Male,20,189650,60,Lawyer,8,4
1830,1831,Male,5,160469,61,Lawyer,8,1
1845,1846,Female,20,113217,41,Lawyer,9,1
1948,1949,Female,91,142602,64,Lawyer,7,6
1954,1955,Female,48,131656,45,Lawyer,9,6
1977,1978,Male,60,125968,100,Lawyer,8,2
1984,1985,Female,2,153622,51,Lawyer,6,6